# Ignore all files in the node_modules directory
node_modules/

# Ignore all files in the dist directory
dist/

# Ignore specific file or directory
src/utils/sensitiveFile.js

# Ignore all files with the .json extension
*.json

# Ignore files or directories starting with a dot
.*

# Ignore specific file with a specific extension
src/index.test.js

# Ignore files in a specific directory
src/logs/
